In [1]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_csv("income_evaluation.csv")

In [10]:
df.head(40)

    age          workclass   fnlwgt  ...  hours-per-week   native-country  income
0    39          State-gov    77516  ...            40.0    United-States   <=50K
1    50   Self-emp-not-inc    83311  ...            13.0    United-States   <=50K
2    38            Private   215646  ...            40.0    United-States   <=50K
3    53            Private   234721  ...            40.0    United-States   <=50K
4    28            Private   338409  ...            40.0             Cuba   <=50K
5    37            Private   284582  ...            40.0    United-States   <=50K
6    49            Private   160187  ...            16.0          Jamaica   <=50K
7    52   Self-emp-not-inc   209642  ...            45.0    United-States    >50K
8    31            Private    45781  ...            50.0    United-States    >50K
9    42            Private   159449  ...            40.0    United-States    >50K
10   37            Private   280464  ...            80.0    United-States    >50K
11   30          State-gov   141297  ...            40.0            India    >50K
12   23            Private   122272  ...            30.0    United-States   <=50K
13   32            Private   205019  ...            50.0    United-States   <=50K
14   40            Private   121772  ...            40.0                ?    >50K
15   34            Private   245487  ...            45.0           Mexico   <=50K
16   25   Self-emp-not-inc   176756  ...            35.0    United-States   <=50K
17   32            Private   186824  ...            40.0    United-States   <=50K
18   38            Private    28887  ...            50.0    United-States   <=50K
19   43   Self-emp-not-inc   292175  ...            45.0    United-States    >50K
20   40            Private   193524  ...            60.0    United-States    >50K
21   54            Private   302146  ...            20.0    United-States   <=50K
22   35        Federal-gov    76845  ...            40.0    United-States   <=50K
23   43            Private   117037  ...            40.0    United-States   <=50K
24   59            Private   109015  ...            40.0    United-States   <=50K
25   56          Local-gov   216851  ...            40.0    United-States    >50K
26   19            Private   168294  ...            40.0    United-States   <=50K
27   54                  ?   180211  ...            60.0            South    >50K
28   39            Private   367260  ...            80.0    United-States   <=50K
29   49            Private   193366  ...            40.0    United-States   <=50K
30   23          Local-gov   190709  ...            52.0    United-States   <=50K
31   20            Private   266015  ...            44.0    United-States   <=50K
32   45            Private   386940  ...            40.0    United-States   <=50K
33   30        Federal-gov    59951  ...            40.0    United-States   <=50K
34   22          State-gov   311512  ...            15.0    United-States   <=50K
35   48            Private   242406  ...            40.0      Puerto-Rico   <=50K
36   21            Private   197200  ...            40.0    United-States   <=50K
37   19            Private   544091  ...            25.0    United-States   <=50K
38   31            Private    84154  ...            38.0                ?    >50K
39   48   Self-emp-not-inc   265477  ...            40.0    United-States   <=50K

[40 rows x 15 columns]

In [0]:
# in some cells there is ? mark, we have to replace them with NaN
df = pd.read_csv('income_evaluation.csv', na_values=['?',' ?','? '])

In [34]:
df.head(40)

    age          workclass   fnlwgt  ...  hours-per-week   native-country  income
0    39          State-gov    77516  ...              40    United-States   <=50K
1    50   Self-emp-not-inc    83311  ...              13    United-States   <=50K
2    38            Private   215646  ...              40    United-States   <=50K
3    53            Private   234721  ...              40    United-States   <=50K
4    28            Private   338409  ...              40             Cuba   <=50K
5    37            Private   284582  ...              40    United-States   <=50K
6    49            Private   160187  ...              16          Jamaica   <=50K
7    52   Self-emp-not-inc   209642  ...              45    United-States    >50K
8    31            Private    45781  ...              50    United-States    >50K
9    42            Private   159449  ...              40    United-States    >50K
10   37            Private   280464  ...              80    United-States    >50K
11   30          State-gov   141297  ...              40            India    >50K
12   23            Private   122272  ...              30    United-States   <=50K
13   32            Private   205019  ...              50    United-States   <=50K
14   40            Private   121772  ...              40              NaN    >50K
15   34            Private   245487  ...              45           Mexico   <=50K
16   25   Self-emp-not-inc   176756  ...              35    United-States   <=50K
17   32            Private   186824  ...              40    United-States   <=50K
18   38            Private    28887  ...              50    United-States   <=50K
19   43   Self-emp-not-inc   292175  ...              45    United-States    >50K
20   40            Private   193524  ...              60    United-States    >50K
21   54            Private   302146  ...              20    United-States   <=50K
22   35        Federal-gov    76845  ...              40    United-States   <=50K
23   43            Private   117037  ...              40    United-States   <=50K
24   59            Private   109015  ...              40    United-States   <=50K
25   56          Local-gov   216851  ...              40    United-States    >50K
26   19            Private   168294  ...              40    United-States   <=50K
27   54                NaN   180211  ...              60            South    >50K
28   39            Private   367260  ...              80    United-States   <=50K
29   49            Private   193366  ...              40    United-States   <=50K
30   23          Local-gov   190709  ...              52    United-States   <=50K
31   20            Private   266015  ...              44    United-States   <=50K
32   45            Private   386940  ...              40    United-States   <=50K
33   30        Federal-gov    59951  ...              40    United-States   <=50K
34   22          State-gov   311512  ...              15    United-States   <=50K
35   48            Private   242406  ...              40      Puerto-Rico   <=50K
36   21            Private   197200  ...              40    United-States   <=50K
37   19            Private   544091  ...              25    United-States   <=50K
38   31            Private    84154  ...              38              NaN    >50K
39   48   Self-emp-not-inc   265477  ...              40    United-States   <=50K

[40 rows x 15 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       30725 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      30718 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  31978 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [18]:
df.shape

(32561, 15)

In [14]:
df.isnull().sum()

age                   0
 workclass         1836
 fnlwgt               0
 education            0
 education-num        0
 marital-status       0
 occupation        1843
 relationship         0
 race                 0
 sex                  0
 capital-gain         0
 capital-loss         0
 hours-per-week       0
 native-country     583
 income               0
dtype: int64

In [15]:
df.describe()

                age        fnlwgt  ...   capital-loss   hours-per-week
count  32561.000000  3.256100e+04  ...   32561.000000     32561.000000
mean      38.581647  1.897784e+05  ...      87.303830        40.437456
std       13.640433  1.055500e+05  ...     402.960219        12.347429
min       17.000000  1.228500e+04  ...       0.000000         1.000000
25%       28.000000  1.178270e+05  ...       0.000000        40.000000
50%       37.000000  1.783560e+05  ...       0.000000        40.000000
75%       48.000000  2.370510e+05  ...       0.000000        45.000000
max       90.000000  1.484705e+06  ...    4356.000000        99.000000

[8 rows x 6 columns]

In [17]:
df.median()

age                    37.0
 fnlwgt            178356.0
 education-num         10.0
 capital-gain           0.0
 capital-loss           0.0
 hours-per-week        40.0
dtype: float64

In [22]:
df.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [24]:
df[' native-country'].isnull().sum()

583

In [35]:
df[' workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name:  workclass, dtype: int64

In [0]:
df[' workclass'].fillna(' Private', inplace=True)

In [31]:
df[' workclass'].isnull().sum()

0

In [1]:
df.head()

NameError: ignored